<div class="contact-form" novalidate="">
    <div class="controls controls-row">
        <div class="control-group span6">
            <input class="span12" name="name" placeholder="your name" type="text">
        </div>
        <div class="control-group span6">
            <input class="span12" name="email" placeholder="your email" type="email">
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group span12">
            <input class="span12" name="subject" placeholder="subject" type="text">
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group span12">
            <textarea class="span12" name="message" placeholder="please, leave your message here... " rows="5"></textarea>
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group span12">
            <button class="btn btn-primary" name="submitButton" type="submit">Send Message</button>
        </div>
    </div>
</div>